# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.env*
!.env.example
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temp Scripts and Files
temp*.cjs
temp*.js
test_*.js
test_*.cjs
run_sql.js
combine_sql.*
simple_upload.js
*_logs.cjs
upload_stamp.cjs
stamp_b64.txt
*_b64.txt
